.promote {
	width: 100%;
	height: 400px;
	background-size: cover;
	background-color: #eee;
}

.article_summary {
	height: 200px;
	max-width: 1000px;
	margin: 30px auto 0 auto;
	color: #ffffff;
	font-size: 22px;
	font-family: FZLanTingHeiS-EL-GB;
	text-align: center;
}

.article_title {
	height: 200px;
	line-height: 200px;
	text-align: center;
 	color: #ffffff;
 	font-size: 48px;
 	font-family: FZLanTingHei-R-GBK;
}