/*$light-font-family: "Futura LT Light";
$bold-font-family: "Futura LT Book";
$ch-blod:FZLanTingHei-R-GBK;
$ch-light:FZLanTingHeiS-EL-GB;*/
/*
.float_img_right {
    margin-top: 0;
	float:right;
	width:48%;
	margin-left:2%;
}
*/

/*.float_img_left {
    margin-top: 0;
	float:left;
	width:48%;
	margin-right:2%;
}*/

.article_left_img{ 
    margin:0 2% 2% auto; 
    float:left;
    width:48%;
  

}

.article_right_img{
    margin:0 auto 2% 2%;
    float:right;
    width:48%;
    
}

.article_maintitle {
    text-align: center;
    font-size: 22px;
    color: #3b3b3b;
    font-family: FZLanTingHei-R-GBK;
    
    background-repeat: repeat-x;
    width: 400px;
    margin: 0 auto;
    /* position: relative; */
    margin-top: 63px;
}

.article_maintitle span {
    display: inline-block;
    width: 180px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 22px;
    color: #333;
    position: relative;
    top: -14px;
    background-color: #fff;
}

.article_subtitle {
    font-family: FZLanTingHei-R-GBK;
    color: #3b3b3b;
    font-size: 16px;
}

.text_centre{
    margin-top: -16px;
    text-align: center;
    font-family: FZLanTingHei-R-GBK;
    color: #3b3b3b;
    font-size: 16px;

}